<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Title -->
    <title>Select movie</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style1.css">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="img/core-img/log.jpg" alt="">
          c  <div class="foode-preloader">
                <span></span>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between ">
                            <!-- Search Form -->
                            <div class="search-form ">
                                <form action="#" method="get">
                                    <input type="search" id="myInput" name="search" class="form-control" placeholder="Search Your Movie ">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>

                            <!-- Social Button >
                            <div class="top-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="img/core-img/log.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="foode-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar" id="foodeNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="img/core-img/log1.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>



                                    <li><a href="watchhist.html">Watch History</a></li>
                                    <li><a href="user.html">My Profile</a></li>
                                    <li><a href="#footy">Contact Us</a></li>
                                    <li><a href="landing.html">Sign Out</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-post-slides owl-carousel">

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/thenun.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy </p>
                    <a href="#" class="post-title">
                        <h4>The Nun </h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/sanju.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy</p>
                    <a href="#" class="post-title">
                        <h4>Sanju</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/sonukititukisweety.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy</p>
                    <a href="#" class="post-title">
                        <h4>Sonu Ki Titu Ki Sweety</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/rampage.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy</p>
                    <a href="#" class="post-title">
                        <h4>Rampage</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/parwajhaijunoon.jpeg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy</p>
                    <a href="#" class="post-title">
                        <h4>Parwaz Hai Junoon </h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/christopherRobin.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy</p>
                    <a href="#" class="post-title">
                        <h4>Christopher Robin</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/jpna2.png);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy</p>
                    <a href="#" class="post-title">
                        <h4>Jawani Phr Nhi Ani 2</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/aQuietPlace.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy</p>
                    <a href="#" class="post-title">
                        <h4>A Quiet Place</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(img/posters/aquaman.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    <p>Enjoy</p>
                    <a href="#" class="post-title">
                        <h4>Aqua Man</h4>
                    </a>
                </div>
            </div>



        </div>
    </section>
    <!-- ##### Hero Area End ##### -->
    <!-- ##### movie list Content Area Start ##### -->
    <section class="blog-content-area section-padding-100">
        <div class="container">




            <div class="row justify-content-center">
                <!--  Posts Area -->
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                        <% 
                        console.log(cinemaData);
                        var moviesArray = cinemaData.movList
                        moviesArray.forEach(function(movie) { %>
                        <!-- Single movie Post -->
                        <div class="single-blog-post d-flex flex-wrap mt-50" id="mov1">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <a href="#"><img src="img/thumbnails/thenun.jpg" alt=""></a>
                            </div>
                            <!-- Content -->

                            <div class="post-content mb-50">
                                <p class="post-date">
                                    <%= movie.language %>
                                </p>
                                <a href="/movie/#{movie.movieid}" class="post-title" id="mov1_name">
                                    <h4>
                                        <%= movie.title %>
                                    </h4>
                                </a>
                                <div class="post-meta">
                                    <p>
                                        <span class="fa fa-star" style="color:goldenrod"> </span>&nbsp Rating :
                                        <span>
                                            <%= movie.rating1 %> /10</span>
                                    </p>
                                    <div style="font-size:15px"> <i class="fa fa-bullhorn" style="color:goldenrod"></i>
                                        Genre: <span>
                                            <%= movie.genre %> </span> </div>

                                </div>
                                <p class="post-excerpt">
                                    <%= movie.description1 %>
                                </p>
                                <a href='/pop.html/{<%= movie.title %>}' id="myBtn" class="read-more-btn">Book Now <i
                                        class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <!-- Post Curve Line -->
                            <img class="post-curve-line" src="img/core-img/post-curve-line.png" alt="">
                        </div>
                        <% }); %>




                    </div>


                </div>

                <!-- Blog Sidebar Area -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="post-sidebar-area">

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>About Us</h6>
                            </div>
                            <!-- Thumbnail -->
                            <div class="about-thumbnail">
                                <img src="img/core-img/team_dp_2.jpg" alt="">
                            </div>
                            <!-- Content -->
                            <%console.log(cinemaData);
                            
              %>
                            <div class="widget-content text-center">
                                
                                <p>
                                    "Alone we can do so little, Together we can do so much!"
                                    <br>
                                    -Helen Keller
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
    </section>
    <!-- ##### Blog Content Area End ##### -->
    <!-- ##### Cinema Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>
                            A Look At Cinemas...
                        </h2>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="instagram-slides owl-carousel">
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/afshan.jpg" alt="">
                            <a href="https://www.facebook.com/AlfalahTheater/"><i class=" fa fa-comments"></i> Follow
                                Afshan</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/universal.jpg" alt="">
                            <a href="
                            https://www.universalcinemas.com/
                            "><i
                                    class="fa fa-comments"></i>Follow Universal Cinema</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/arena.jpg" alt="">
                            <a href="https://thearena.com.pk/"><i class="fa fa-comments"></i>Follow Arena Cinema</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/atrium.jpg" alt="">
                            <a href="https://www.facebook.com/atriumcinemas/"><i class="fa fa-comments"></i>Follow
                                Atrium Cinema</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/capri.jpg" alt="">
                            <a href="https://capricinema.com.pk/"><i class="fa fa-comments"></i>Follow Capri Cinema</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/Alfalah.jpg" alt="">
                            <a href="https://www.facebook.com/AlfalahTheater/"><i class="fa fa-comments"></i>Follow
                                Al-Falah Cinema</a>
                        </div>
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/cine-star.jpg" alt="">
                            <a href="http://www.cinestar.com.pk/"><i class="fa fa-comments"></i>Follow Cine-Star</a>
                        </div>
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/cinegold.jpg" alt="">
                            <a href="https://www.cinegoldplex.com/
                            "><i class="fa fa-comments"></i>Follow
                                CineGoldPlex</a>
                        </div>
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/soxoworld.jpg" alt="">
                            <a href="http://www.sozocinema.com/
                            "><i class="fa fa-comments"></i>Follow
                                sozo world</a>
                        </div>
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/super.jpg" alt="">
                            <a href="http://supercinema.com.pk/
                            ">
                                <i class="fa fa-comments"></i>
                                Follow Super Cinema
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### cinema Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Curve Line -->
                    <img class="footer-curve" src="img/core-img/foo-curve.png" alt="">
                    <!-- Footer Social Info -->
                    <div id="footy" class="footer-social-info d-flex align-items-center justify-content-between">
                        <p>
                            &nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span><i class="fa fa-mail-forward" style="color:goldenrod"></i> </span>
                            <span>Email us :</span>
                            <span>
                                <a href="#" class="post-title">
                                    <h4>team_coders_345@gmail.com</h4>
                                </a>
                            </span>
                        </p>
                    </div>
                    <!-- Footer Curve Line -->
                    <img class="footer-curve" src="img/core-img/foo-curve.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="copywrite-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>