<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Join | Login</title>



    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="img/core-img/log.jpg" alt="">
            <div class="foode-preloader">
                <span></span>
            </div>
        </div>
    </div>
    <!-- ##### /Preloader ##### -->


    <div style="background-image: url('img/thumbnails/t1.jpg');height:100%;width: 100%; background-repeat: no-repeat">

        <div class="typography-content-area section-padding-0-100">
            <div class="container">
                <!-- ##### Heading ##### -->
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="section-heading">
                            <h1 style="color:red"><strong>BookMyShow.com</strong></h1>
                            <br><br>
                            <h2>Accounts</h2>
                            <p>Create Account or Login to access associated settings</p>
                        </div>
                    </div>
                </div>
                <!-- ##### /Heading ##### -->

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">

                        <!-- FIELDS -->
                        <div class="foode-image">
                            <div class="row">
                                <!--SIGNING IN-->
                                <div class="col-12 col-md-5">
                                    <form action="index.html">
                                        <h3 style="text-align:center;">Sign Up</h3>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">Email</div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <input name="email" type="email" required>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">City</div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <input name="city" type="text" required>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">Username</div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <input name="username" type="text" required>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">Password</div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <input name="password" type="password" required>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">Phone #</div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <input name="pnum" type="text" required>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-4">
                                                <!--BUTTON-->
                                                <button id="joinbtn" href="index.html" type="submit" class="btn foode-btn m-2">Join</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--/SIGNING IN-->

                                <div class="col-12 col-md-2">
                                    <div style="border-right:1px solid lightgrey;height:100%"></div>
                                </div>

                                <!--LOGIN-->
                                <div class="col-12 col-md-5">
                                    <form action="index.html">
                                        <h3 style="text-align:center;">Login</h3>
                                        <br /><br /><br />
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">Username</div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <input name="loginuname" type="text" required>
                                            </div>
                                        </div>
                                        <br /><br />
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">Password</div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <input name="loginpword" type="password" required>
                                            </div>
                                        </div>
                                        <br /><br /><br />
                                        <div class="row">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-4">
                                                <!--BUTTON-->
                                                <button id="loginbtn" href="index.html" class="btn foode-btn m-2">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--/LOGIN-->

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-12 col-md-6">
                                </div>
                                <div class="col-12 col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />

        </div>
    </div>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

    <!--FORM INPUT-->
    <script>
        /*var nu = {
            email: "default@newuser.com",
            city: "Lahore",
            username: "NewUser",
            password: "npassword",
            number: "12345678"
        };

        var ou = {
            uname: "exists@olduser.com",
            pword: "opassword"
        };

        function joinsite() {
            nu.email = $("[name = email]").val();
            nu.city = $("[name = city]").val();
            nu.username = $("[name = username]").val();
            nu.password = $("[name = password]").val();
            nu.number = $("[name = pnum]").val();
            var queryString = "?em=" + nu.email + "&c=" + nu.city + "&un=" + nu.username + "&pw=" + nu.password + "&no=" + nu.number;
            window.location.href = "profile.html" + queryString;
        };
        function loginsite() {
            ou.uname = $("[name = loginuname]").val();
            ou.pword = $("[name = loginpword]").val();
            var queryString = "?un=" + ou.uname + "&pw=" + ou.pword;
            window.location.href = "profile.html" + queryString;
            //alert("Value: " + $("[name = loginpword]").val());
        };*/
    </script>
    <!--/FORM INPUT-->
</body>

</html>