<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>bookmyshow.com</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>


<body>
  <!-- ##### Preloader ##### -->
  <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="img/core-img/log.jpg" alt="">
            <div class="foode-preloader">
                <span></span>
            </div>
        </div>
    </div>

    <header class="header-area">
        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="img/core-img/log.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="foode-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar" id="foodeNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="img/core-img/log1.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                 
                                    
                                    
                                    <li><a href="watchhist.html">Watch History</a></li>
                                    <li><a href="user.html">My Profile</a></li>
                                    <li><a href="#footy">Contact Us</a></li>
                                    <li><a href="landing.html">Sign Out</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
      <!-- ##### Breadcrumb Area Start ##### -->
      <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="cinemalist.html"> CinemaList</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Selecting Date and Time</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div> 
    <!-- ##### Breadcrumb Area End ##### --> 

	<!-- ##### selection  Area start ##### -->
	<div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Blog Post -->
                        <!--<div class="single-blog-post d-flex flex-wrap mt-50">-->
						<h1 class="text-centre"><strong>Choose Date and Time For Your Show</strong></h1>
                            <!-- Thumbnail -->
							<div class="post-thumbnail mb-50">
							<br><br>
								<!--<button  type="button">October 15</button>-->&nbsp;&nbsp;
                                <!--dates-->
                                
                                    
                                <input type="radio" name="time9" value="9"> 17-october-2018&nbsp;&nbsp;  
                                <input type="radio" name="time9" value="9"> 18-october-2018&nbsp;&nbsp;
                                <input type="radio" name="time9" value="9"> 19-october-2018&nbsp;&nbsp;
                                <input type="radio" name="time9" value="9"> 20-october-2018&nbsp;&nbsp;
                                
                                
							<br><br><br>
			<div id=date1>			
<div class="row">
  <div class="column1" style="background-color:#aaa;">
    <h4>Movies Names</h4>
	<form action="">
	   <input type="radio" name="cinema" value="centaurus"> The Nun<br><br>
	   <input type="radio" name="cinema" value="afshan"> Christopher Robin<br><br>
	   <input type="radio" name="cinema" value="atrium"> Rampage <br><br>
	   <input type="radio" name="cinema" value="capri"> Sonu K Titu ki Sweety <br><br>
	   <input type="radio" name="cinema" value="cinegold"> Parwaz Hai Junoon<br><br>
	   <input type="radio" name="cinema" value="cines;00tar"> A Quiet Palce<br><br>
	   <input type="radio" name="cinema" value="super"> Jawani phir nhi ani 2<br><br>
	   <input type="radio" name="cinema" value="sozo"> Aquaman<br><br>
	   <input type="radio" name="cinema" value="universal"> Sanju<br><br>
	   
	   </form>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h4>First Slot</h4>
    <input type="radio" name="time1" value="1"> 11:00 AM<br><br>
    <input type="radio" name="time2" value="2"> 11:30 AM<br><br>
	<input type="radio" name="time3" value="3"> 10:30 AM<br><br>
	<input type="radio" name="time4" value="4"> 12:30 PM<br><br>
	<input type="radio" name="time5" value="5"> 1:00 PM<br><br>
	<input type="radio" name="time6" value="6"> 2:00 PM<br><br>
	<input type="radio" name="time7" value="7"> 12:30 PM<br><br>
	<input type="radio" name="time8" value="8"> 11:30 AM<br><br>
	<input type="radio" name="time9" value="9"> 11:00 AM<br><br>
	
  </div>
  <div class="column" style="background-color:#ccc;">
    <h4>Second Slot</h4>
    <input type="radio" name="time1" value="1"> 2:00 PM<br><br>
    <input type="radio" name="time2" value="2"> 1:30 PM<br><br>
	<input type="radio" name="time3" value="3"> 3:30 PM<br><br>
	<input type="radio" name="time4" value="4"> 2:30 PM<br><br>
	<input type="radio" name="time5" value="5"> 4:00 PM<br><br>
	<input type="radio" name="time6" value="6"> 3:30 PM<br><br>
	<input type="radio" name="time7" value="7"> 2:30 PM<br><br>
	<input type="radio" name="time8" value="8"> 1:30 PM<br><br>
	<input type="radio" name="time9" value="9"> 1:00 PM<br><br>
	
  </div>
  <div class="column" style="background-color:#ddd;">
   <h4>Third Slot</h4>
    <input type="radio" name="time1" value="1"> 2:00 PM<br><br>
    <input type="radio" name="time2" value="2"> 1:30 PM<br><br>
	<input type="radio" name="time3" value="3"> 3:30 PM<br><br>
	<input type="radio" name="time4" value="4"> 2:30 PM<br><br>
	<input type="radio" name="time5" value="5"> 4:00 PM<br><br>
	<input type="radio" name="time6" value="6"> 3:30 PM<br><br>
	<input type="radio" name="time7" value="7"> 2:30 PM<br><br>
	<input type="checkbox" name="time8" value="8"> 1:30 PM<br><br>
	<input type="checkbox" name="time9" value="9"> 1:00 PM<br><br>
	
  </div>
  <div class="column" style="background-color:#eee;">
   <h4>Fourth Slot</h4>
    <input type="checkbox" name="time1" value="1"> 2:00 PM<br><br>
    <input type="checkbox" name="time2" value="2"> 1:30 PM<br><br>
	<input type="checkbox" name="time3" value="3"> 3:30 PM<br><br>
	<input type="checkbox" name="time4" value="4"> 2:30 PM<br><br>
	<input type="checkbox" name="time5" value="5"> 4:00 PM<br><br>
	<input type="checkbox" name="time6" value="6"> 3:30 PM<br><br>
	<input type="checkbox" name="time7" value="7"> 2:30 PM<br><br>
	<input type="checkbox" name="time8" value="8"> 1:30 PM<br><br>
	<input type="checkbox" name="time9" value="9"> 1:00 PM<br><br>
	
  </div>
</div><br>
<a  type="button" href="payment.html">Confirm & Proceed</a>
							</div>
						 </div>	
					 </div>
						
	</div>			
	</div>						
   
   <!-- ##### Cinema Area Start ##### -->
  <div class="follow-us-instagram">
          
        <div class="container">
                <img class="footer-curve" src="img/core-img/foo-curve.png" alt="">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>
                            A Look At Cinemas...
                        </h2>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="instagram-slides owl-carousel">
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/afshan.jpg" alt="">
                            <a href="https://www.facebook.com/AlfalahTheater/"><i class=" fa fa-comments" ></i> Follow Afshan</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/universal.jpg" alt="">
                            <a href="
                            https://www.universalcinemas.com/
                            "><i class="fa fa-comments"></i>Follow Universal Cinema</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/arena.jpg" alt="">
                            <a href="https://thearena.com.pk/"><i class="fa fa-comments"></i>Follow Arena Cinema</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/atrium.jpg" alt="">
                            <a href="https://www.facebook.com/atriumcinemas/"><i class="fa fa-comments"></i>Follow Atrium Cinema</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/capri.jpg" alt="">
                            <a href="https://capricinema.com.pk/"><i class="fa fa-comments"></i>Follow Capri Cinema</a>
                        </div>

                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/Alfalah.jpg" alt="">
                            <a href="https://www.facebook.com/AlfalahTheater/"><i class="fa fa-comments"></i>Follow Al-Falah Cinema</a>
                        </div>
                         <!-- Single cinema Slide -->
                         <div class="single-instagram-slide">
                            <img src="img/cinefoot/cine-star.jpg" alt="">
                            <a href="http://www.cinestar.com.pk/"><i class="fa fa-comments"></i>Follow Cine-Star</a>
                        </div>
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/cinegold.jpg" alt="">
                            <a href="https://www.cinegoldplex.com/
                            "><i class="fa fa-comments"></i>Follow CineGoldPlex</a>
                        </div>
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/soxoworld.jpg" alt="">
                            <a href="http://www.sozocinema.com/
                            "><i class="fa fa-comments"></i>Follow sozo world</a>
                        </div>
                        <!-- Single cinema Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/cinefoot/super.jpg" alt="">
                            <a href="http://supercinema.com.pk/
                            "><i class="fa fa-comments"></i>
                            Follow Super Cinema</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### cinema Area End ##### -->
   
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Curve Line -->
                    <img class="footer-curve" src="img/core-img/foo-curve.png" alt="">
                    <!-- Footer Social Info -->
                    <div id="footy"class="footer-social-info d-flex align-items-center justify-content-between">
                        <p>
                            &nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span><i class="fa fa-mail-forward" style="color:goldenrod"></i> </span>
                            <span>Email us :</span>
                            <span>
                            <a href="#" class="post-title">
                                <h4>team_coders_345@gmail.com</h4>
                            </a>
                            </span> 
                        </p> 
                    </div>
                    <!-- Footer Curve Line -->
                    <img class="footer-curve" src="img/core-img/foo-curve.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
	
	<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>-->

	
</body>

</html>